h1 {
    font-family: Calibri;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: white;
}
.parent { 
    display: flex; 
    width: 100%;
}
.mainKpi{ 
    justify-content: center;
    background-color: white;
    margin-left: calc(50% - 200px);
    border: none;
}
.line {
    fill:none;
    stroke:black;
    stroke-width:3
}
body {
    background-color: #4b1a73;
}
label {
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
.text {
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
.darText {
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    color: black;
}
.errorText {
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    color: yellow;
}